<section class="grades section" id="grades">
    <span class="section_subtitle">My Portfolio</span>
    <h2 class="section_title">My grades</h2>
    <img src="{{ asset('build/images/billEmojiFb/fbavatar_2.png') }}" alt="" class="section_img_title">

    <div class="grades_filters">
        <div>
            <span class="grades_item active_grades" data-filter=".all_1">All</span>
            <span class="grades_item" data-filter=".Web_1">Web</span>
            <span class="grades_item" data-filter=".Mobile_1">Mobile</span>
            <span class="grades_item" data-filter=".Design_1">Design</span>
            <span class="grades_item" data-filter=".Other_1">Other</span>
        </div>
    </div>

    <div class="paginate_container" id="paginate_container"></div>


    <div class="grades_container container grid">
        <div class="grades_card all Web Mobile">
            <img src="{{ asset("build/images/graduation/concepteur developpeur d'application.jpg") }}" alt="" class="grades_img">
            <div class="grades_card_sub_text">
                <h3 class="grades_title">Application developer designer <br>
                    <span class="grades_subtitle">modula formation</span>
                </h3>
                <a href="#" class="grades_button">
                    Show PDF <i class="bx bx-right-arrow-alt grades_icon"></i>
                </a>
            </div>
        </div>

        <div class="grades_card all Web Mobile">
            <img src="{{ asset('build/images/graduation/dev web web_mobil.jpg') }}" alt="" class="grades_img">
            <div class="grades_card_sub_text">
                <h3 class="grades_title">Web and mobile web developer <br> <span class="grades_subtitle">Modula formation</span></h3>
                <a href="#" class="grades_button">
                    Show PDF <i class="bx bx-right-arrow-alt grades_icon"></i>
                </a>
            </div>
        </div>

        <div class="grades_card all Other">
            <img src="{{ asset('build/images/graduation/certeficat algorithmes1.jpg') }}" alt="" class="grades_img">
            <div class="grades_card_sub_text">
                <h3 class="grades_title">Algorithms<br> <span class="grades_subtitle">Openclassrooms</span></h3>
                <a href="#" class="grades_button">
                    Show PDF <i class="bx bx-right-arrow-alt grades_icon"></i>
                </a>
            </div>
        </div>

        <div class="grades_card all Web">
            <img src="{{ asset('build/images/graduation/certificat dev web1.jpg') }}" alt="" class="grades_img">
            <div class="grades_card_sub_text">
                <h3 class="grades_title">Web Developer<br> <span class="grades_subtitle">Udemy</span></h3>

                <a href="#" class="grades_button">
                    Show PDF <i class="bx bx-right-arrow-alt grades_icon"></i>
                </a>
            </div>
        </div>

        <div class="grades_card all Web">
            <img src="{{ asset('build/images/graduation/certificat JavaScript1.jpg') }}" alt="" class="grades_img">
            <div class="grades_card_sub_text">
                <h3 class="grades_title">JavaScript<br> <span class="grades_subtitle">Openclassrooms</span></h3>
                <a href="#" class="grades_button">
                    Show PDF <i class="bx bx-right-arrow-alt grades_icon"></i>
                </a>
            </div>
        </div>
        <div class="grades_card all Web">
            <img src="{{ asset('build/images/graduation/certificat php MySQL1.jpg') }}" alt="" class="grades_img">
            <div class="grades_card_sub_text">
                <h3 class="grades_title">Php MySQL Web Developer<br> <span class="grades_subtitle">Openclassrooms</span></h3>
                <a href="#" class="grades_button">
                    Show PDF <i class="bx bx-right-arrow-alt grades_icon"></i>
                </a>
            </div>
        </div>
        <div class="grades_card all Design">
            <img src="{{ asset('build/images/graduation/certificat web design1.jpg') }}" alt="" class="grades_img">

            <div class="grades_card_sub_text">
                <h3 class="grades_title">Web designer<br> <span class="grades_subtitle">Udemy</span></h3>
                <a href="#" class="grades_button">
                    Show PDF <i class="bx bx-right-arrow-alt grades_icon"></i>
                </a>
            </div>
        </div>

        <div class="grades_card all Other">
            <i  class='bx bx-time grades_text'></i>
            
            <div class="grades_card_sub_text">
                <h3 class="grades_title">DevOps<br> <span class="grades_subtitle">Linkedin learning</span></h3>
                <a  role="link" aria-disabled="true"  >
                    In progress
                </a>
            </div>
        </div>

        <div class="grades_card all Other">
            <i  class='bx bx-time grades_text'></i>

            <div class="grades_card_sub_text">
                <h3 class="grades_title">Unreal engine 5<br> <span class="grades_subtitle">Udemy</span></h3>
                <a  role="link" aria-disabled="true">
                    In progress
                </a>
            </div>
        </div>
    </div>
</section>