<section class="work section" id="work">
    <span class="section_subtitle">My Portfolio</span>
    <h2 class="section_title">Recent Works</h2>

    <div class="work_filters">
        <span class="work_item active_work" data-filter="all">All</span>
        <span class="work_item" data-filter=".web">Web</span>
        <span class="work_item" data-filter=".Movil">Movil</span>
        <span class="work_item" data-filter=".Design">Design</span>
    </div>

    <div class="work_container container grid">
        <div class="work_card mix web">
            <img src="{{ asset('build/images/about.jpg') }}" alt="" class="work_img">
            <h3 class="work_title">Back Dev</h3>

            <a href="#" class="work_button">
                Demo <i class="bx bx-right-arrow-alt work_icon"></i>
            </a>
        </div>

        <div class="work_card mix Movil">
            <img src="{{ asset('build/images/about.jpg') }}" alt="" class="work_img">
            <h3 class="work_title">Back Dev</h3>

            <a href="#" class="work_button">
                Demo <i class="bx bx-right-arrow-alt work_icon"></i>
            </a>
        </div>

        <div class="work_card mix Design">
            <img src="{{ asset('build/images/about.jpg') }}" alt="" class="work_img">
            <h3 class="work_title">Back Dev</h3>

            <a href="#" class="work_button">
                Demo <i class="bx bx-right-arrow-alt work_icon"></i>
            </a>
        </div>

        <div class="work_card mix web">
            <img src="{{ asset('build/images/about.jpg') }}" alt="" class="work_img">
            <h3 class="work_title">Back Dev</h3>

            <a href="#" class="work_button">
                Demo <i class="bx bx-right-arrow-alt work_icon"></i>
            </a>
        </div>

        <div class="work_card mix Design">
            <img src="{{ asset('build/images/about.jpg') }}" alt="" class="work_img">
            <h3 class="work_title">Back Dev</h3>

            <a href="#" class="work_button">
                Demo <i class="bx bx-right-arrow-alt work_icon"></i>
            </a>
        </div>
    </div>
</section>