<section class="works section" id="works">
    <span class="section_subtitle">My Portfolio</span>
    <h2 class="section_title">Recent Works</h2>

    <img src="{{ asset('build/images/billEmojiFb/fbavatar_8.png') }}" alt="" class="section_img_title">


    <div class="works_container container grid swiper">

        <div class="swiper-wrapper">
            <div class="works_card swiper-slide">
                <div class= "works_card_sub_text">
                    <h5 class="works_title">Cycleau.fr <br>
                        <span class="works_subtitle">Full-stack Developer</span>
                    </h5>
                </div>
                <img src="{{ asset("build/images/Project_works/cycleau.PNG") }}" alt="" class="works_img">
            </div>
            <div class="works_card swiper-slide">
                <img src="{{ asset("build/images/Project_works/portal_cycleau.PNG") }}" alt="" class="works_img">
                <div class= "works_card_sub_text">
                    <h5 class="works_title">Portail.cycleau.fr <br>
                        <span class="works_subtitle">Back-end Developer</span>
                    </h5>
                </div>
            </div>
            <div class="works_card swiper-slide">
                <img src="{{ asset("build/images/Project_works/Scedec.PNG") }}" alt="" class="works_img">
                <div class= "works_card_sub_text">
                    <h5 class="works_title">Scedec.fr <br>
                        <span class="works_subtitle">Front-end Developer</span>
                    </h5>
                </div>
            </div>
            <div class="works_card swiper-slide">
                <img src="{{ asset("build/images/Project_works/vonroll-hydro.PNG") }}" alt="" class="works_img">
                <div class= "works_card_sub_text">
                    <h5 class="works_title">Vonroll-hydro.world <br>
                        <span class="works_subtitle">Prestashop developer</span>
                    </h5>
                </div>
            </div>
            <div class="works_card swiper-slide">
                <img src="{{ asset("build/images/Project_works/Moggar.PNG") }}" alt="" class="works_img">
                <div class= "works_card_sub_text">
                    <h5 class="works_title">Moggr.fr <br>
                        <span class="works_subtitle">Full-stack Developer</span>
                    </h5>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>


        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>

</section>